.detailcontainer{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pricecontainer{
    width:70%;
}
.divtalles ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
}

.divtalles ul li{
    text-align: center;
    width: 40px;
    height: 40px;
    border-color: rgb(126, 133, 132);
    border-style: double;
    border-radius: 0.3px;
}

.btncomparar{
    background: #000000;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 0 50px 0 30px;
    border-radius: 3px;
    transition: all 0.5s;
}

.btncomparar:hover{
    background: rgba(0,0,0,0.8);
    padding: 0 40px;
}