.navcontenedor{
    width: 100%;
    background-color: aquamarine;
  margin-bottom: 2rem;
  padding: 30px 0px;
}

.navcontenedor ul{
    margin-left: 40%;
    width:80%;
}
li{
    font-size: larger;
    margin-left: 30px;
}

.navcontenedorLogo{
margin-left: 10%;
  width:15%;
    
}

.navcontenedorCarrito{
    width:15%;
padding-left: 80%;
}
.badge{
  content:attr(value);
  font-size:12px;
  background: rgb(33, 89, 199);
  border-radius:50%;
  padding:3px;
  position:relative;
  left:-5px;
  top:-10px;
  opacity:0.9;
  }

  .carrito{
    
    width: 50px;
    position: absolute;
  }